<div class="__RSTART__C_MODAL_BACKDROP__REND__ __RSTART__C_STORIES_MODAL_BACKDROP__REND__">
  <div class="__RSTART__C_MODAL_WRAPPER__REND__ __RSTART__C_STORIES_MODAL_WRAPPER__REND__">
    <div class="__RSTART__C_MODAL_TITLE_CONTAINER__REND__">
      <div class="__RSTART__C_MODAL_TITLE__REND__">
        User Stories
        <a class="__RSTART__C_MODAL_TITLE_LINK__REND__" href="${HOMEPAGE_URL}" target="_blank" title="What's this?"
          >(?)</a
        >
      </div>
      <button class="__RSTART__C_MODAL_CLOSE_BTN__REND__" title="Close">
        <div class="coreSpriteClose"></div>
      </button>
    </div>
    <div class="__RSTART__C_MODAL_CONTENT_CONTAINER__REND__">
      <div class="__RSTART__C_STORIES_MODAL_LIST__REND__">
        <!-- stories -->
      </div>
    </div>
  </div>
</div>
