<div class="__VS__C_MODAL_BACKDROP__VE__ __VS__C_STORIES_MODAL__VE__">
  <div class="__VS__C_MODAL_WRAPPER__VE__">
    <div class="iso-modal-title-container">
      <div class="iso-modal-title">
        User Stories (Anonymous)
        <a class="iso-modal-title-link" href="${HOMEPAGE_URL}" target="_blank" title="What's this?"
          >(?)</a
        >
      </div>
      <button class="__VS__C_MODAL_CLOSE_BTN__VE__" title="Close">
        <div class="coreSpriteClose"></div>
      </button>
    </div>
    <div class="iso-modal-content-container">
      <div class="__VS__C_STORIES_MODAL_LIST__VE__">
        <!-- stories -->
      </div>
    </div>
  </div>
</div>
