<html>
  <head>
    <title>Settings Menu</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./style.css" />
    <script src="./script.js"></script>
  </head>
  <body>
    <!-- Start of html to add to the script -->
    <div class="_ISOCS_C_SETTINGS_CONTAINER_ISOCE_">
      <div class="_ISOCS_C_SETTINGS_MENU_ISOCE_">
        <div class="_ISOCS_C_SETTINGS_MENU_TITLE_CONTAINER_ISOCE_">
          <div class="_ISOCS_C_SETTINGS_MENU_TITLE_ISOCE_">
            _ISOCS_SCRIPT_NAME_SHORT_ISOCE_ Settings<a
              class="_ISOCS_C_SETTINGS_MENU_TITLE_LINK_ISOCE_"
              href="_ISOCS_HOMEPAGE_URL_ISOCE_"
              target="_blank"
              title="What's this?"
              >(?)</a
            >
          </div>
          <button class="_ISOCS_C_SETTINGS_MENU_TITLE_CLOSE_BTN_ISOCE_" title="Close">
            <div class="coreSpriteClose"></div>
          </button>
        </div>
        <div class="_ISOCS_C_SETTINGS_MENU_OPTIONS_ISOCE_">
          <button id="_ISOCS_ID_SETTINGS_POST_STORY_KB_BTN_ISOCE_" class="_ISOCS_C_SETTINGS_MENU_OPTION_BTN_ISOCE_">
            Change post/story shortcut
          </button>
          <button
            id="_ISOCS_ID_SETTINGS_PROFILE_PICTURE_KB_BTN_ISOCE_"
            class="_ISOCS_C_SETTINGS_MENU_OPTION_BTN_ISOCE_"
          >
            Change profile picture shortcut
          </button>
          <div class="_ISOCS_C_SETTINGS_MENU_OPTION_ISOCE_">
            <label for="_ISOCS_ID_SETTINGS_BUTTON_BEHAVIOR_SELECT_ISOCE_">Open source click behavior:</label>
            <select id="_ISOCS_ID_SETTINGS_BUTTON_BEHAVIOR_SELECT_ISOCE_">
              <option value="_ISOCS_BUTTON_BEHAVIOR_REDIR_ISOCE_">Redirect</option>
              <option value="_ISOCS_BUTTON_BEHAVIOR_NEW_TAB_FOCUS_ISOCE_">New tab and focus</option>
              <option value="_ISOCS_BUTTON_BEHAVIOR_NEW_TAB_BG_ISOCE_">New tab in the background</option>
            </select>
          </div>
          <div
            id="_ISOCS_ID_SETTINGS_DEVELOPER_OPTIONS_BTN_ISOCE_"
            class="_ISOCS_C_SETTINGS_MENU_OPTION_BTN_ISOCE_ _ISOCS_C_SETTINGS_SECTION_COLLAPSED_ISOCE_"
          >
            Developer options <span class="_ISOCS_C_SETTINGS_SELECT_ARROW_ISOCE_" />
          </div>
          <div
            id="_ISOCS_ID_SETTINGS_DEVELOPER_OPTIONS_CONTAINER_ISOCE_"
            class="_ISOCS_C_SETTINGS_MENU_OPTION_ISOCE_ _ISOCS_C_SETTINGS_SECTION_COLLAPSED_ISOCE_"
          >
            <label for="_ISOCS_ID_SETTINGS_SESSION_ID_INPUT_ISOCE_"
              >Session ID<a
                class="_ISOCS_C_SETTINGS_MENU_TITLE_LINK_ISOCE_"
                href="_ISOCS_SESSION_ID_INFO_URL_ISOCE_"
                target="_blank"
                title="What's this?"
                >(?)</a
              ></label
            >
            <input id="_ISOCS_ID_SETTINGS_SESSION_ID_INPUT_ISOCE_" type="text" placeholder="Your current session id" />
          </div>
        </div>
      </div>
    </div>
    <!-- End of html to add to the script -->

    <button onClick="openMenu()">Open menu</button>
  </body>
</html>
