:root {
  --iso-post-btn-icon: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAEkklEQVR4nO3b24tVdRQH8M+ZGcemwkgJqocoy6QLXTBLp5hKMEQposIeulD0L0gRURB0Af+GLj4ERj1E0EtoZJlMF7OUJIqaSi2zcSwsRUfH08PPgcM+v33mnH07R5wv/BjY7P1dl/3ba62zfmuYxdmNWoWy5mHBaZlHcfj0366iDAecj+UN62bB8IHIvb/jR3yFLdiK/0rQqXTUMIINOIJ6xnUUG7EafVUakBU1rMUPshudtnbjcfRXZk2HWIJPFG94cn2D4Ypsagv9eAVTOjPkH4zhZ+zHiQ6ePYX1mFOBfS1xETaZWeFxvIGncK14AJyDxXgUr+FAG7yjuKQUy9rAIuyZQcEP8RAGM/APYA02zyBjDFfnsCMTLsNvLZTaiRUFyhvG9hbyDqjQCRcLuTqmyAk8rZxI3Yd1mEyRPaaCz6Ef21IU+BN3l60AbpMeH0aVHBifTxG8DwvLFJzAVfglRZf1ZQldIr79/hIie9W4UkifsRS5vGhhNeyICDuBZUUL6wDLxF/K1wqOQ/dHhNTxQpFCMmKduG6PFSWgJpSfSQFfiBc0VaNfPEXuVtAPqFUR8rpi83xeDIvruLoI8g0R4k+LIC4YsYpxY17SQRyKEN+bl7gErNGs5xGcl4d0dYT0b9lq+7IxIF4greqEJBk07ojc876QenoNJ/FB5PpdnZAkHXB95J7NnRBWjC2Ra0vzEI5p3lI35SEsGddo1ndPVrIhoaxMVn7n5FazPAwKn0KyNJ7bLkHjJ3Cu5jb5IRzLp2OpmMRE4loNF7RL0OiAmNeOZ1CqahyOXJvX7sONDoilul6M/knEyvOT7T7c6ICYsW17souYH7l2KAtRn/C9J6NqrsqqZAxqDtyTOjjya9wBp7A3cs/l2fUrHYs1GzsuOKItJAuhXyP33NqZTpUi1gn6thOCpAO+jNxzTyeEFSN2ZDaah3BEcwwY15sHlHNxUMF9izlCXk2SPpiHtCQ8rFnPfxUQtN+NEH+Wl7QEfKRZz9eLIL4zQlzH7UWQF4SVStYx1nTcpQeOp4V4tFO8KVoYHokIqOPZIoVkxDPiuj1QpJA+fB4Rclz4RLqFFZp//taFSZXCcYP4KcyEUIFVjRvFM9QUbilL6KsRgXXhoLJKJyyVPlLzcpmCB/FxiuAJ1XwOw+Jvfjo9l16kXYjvUxQ4JgTGMrLDAF7UepjqD2F0p3QsFAYi0hTZJd5Sz4qVWo/INK59KnRC2k6YXtuEIaks23KucAK1dQYZsbVf6BCXjvlCL34mhQ7ibTyJ68Tr8yFhCOMJvCXMEc7Eu13Y9l11wqAwKJk2vJS2xoUhyb1CyyqWz9PWJJ4TdtYiYdt31QmEOmG0AyOyru2a83zPOKFPKJvbDVidrB24T3p/r2ecMI0RvCM9Z7ezJvCmcMLbTmOz55xAqAlGhAptkzBkGes2T+EnvIeXhNZblnqiJ52QRA2XCql0gVBcDRXIf0Y4oWzMOsGsE9DaCZWVzd1GKyd85wz5h6y8aOWEK7qoV6WIOeGwMAxy1mCRsO2njV/bXXW6gz7hlPusevOzaAf/A63z45sbiSeUAAAAAElFTkSuQmCC');
  --iso-post-carousel-btn-icon: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2264%22%20height%3D%2264%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12%202C6.477%202%202%206.477%202%2012s4.477%2010%2010%2010s10-4.477%2010-10S17.523%202%2012%202zm-1%205a4%204%200%201%200%202.032%207.446l1.76%201.761a1%201%200%200%200%201.415-1.414l-1.761-1.761A4%204%200%200%200%2011%207zm0%206a2%202%200%201%200%200-4a2%202%200%200%200%200%204z%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  --iso-story-btn-icon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABcklEQVRYhe2WO04DMRRFrwkroIAG2oQKBAuggzolHUVCEAWrYAGUCAE9RGyAAgoWgAIUQbABCn6BNsmhiEeyRvNx4knF3Mb2vM+9fmM/WSpRIgHAEnAF/JCPZ2DeiT0D+gl+feDUl/zDg9jFphP/neHXj/PNJmg4kjRn5x1Jrzmau5JunfWOpG1JFUkbkhYcW8WnAlHZO8BMbkB6ngYwiJfAJzBCO4C8BQxtngHwliZg4h1mkDclHUsykpB0IOlunAQTVwDYi+28ab9fpB3CwgSkkVtbHfgCTqYiAGg6B24I7I8jPkgAsFsY+bgCfMmBCrCF0zGDBQDrsX/eyPA9tH7duC2pE/pioNE1Q1LLGHOe4Vuz43JhAowxD8CaJIwxT5PmCamAjDGPIfHSFDphKaAUUISAXztWCXiQRLA5oj7Qi9uTruGNpLqkVUn3wEughqqkFTu/zvUGasAnxeMdWPSSzOhl3AZ6BRD3gEtv8hL/Dn+PJax2JC/rEwAAAABJRU5ErkJggg==");
  --iso-settings-btn-icon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAD+UlEQVR4nO3aS4xkYxQH8F8rNDozpmcyk8hoYSEEM0IiYUkvJJN4TLcMCwsRZsXOxpL9JMaClcdGLDw34zUJKxlsxDOTiKaHYEEahWFUd1l8Lemp+m7Vvd/9bnWR+idnUzfnf87536/O97pMMMEEE+TFHhzGp/gN3UQ7hS/xOC4aaQWJmMYTWJVedJG1cfvoSqmOabwtf+EbrYO7RlVQVTyp2eL/tb+NoQh79A/7E1jElgS+WNFjLcJj+ovfXoOvV4A7jbkInzk9ucWafL0CMOYi/Or0xFKG/UbEBGCMRShKuAm+O/SL0MHdGeImY5QCMIYijFoAxkyEzRCAMRJhswRgTETYTAEonh1uy5BLKeQWoN3Dd2EJn5gIbcxlyGcocgvwfg/fa9JFOJwhn6E4goexD5dn4HtQv6ip9kWGfEaOaXwojwB/jTj3bNgtnwj/WZyNB3BMf2PMJsBUA4lvNnqLHljjGTUC3YBtCX4tXFsj7qZjDq8KSr+LmQq+U3hm3fdlzczTjfaAq7HSE+A97Crhew6e7/FdwXzmHBsV4AKsRYJ8j/uFInvRwq34POLXxS2Zc2y8CX6EvQXP2ngHXwkHpbtxo+IR0hH6yO8JeRShUhNMwVPyrdQ+zp1cJMZApMwCXyf4FOHHjFxJSBGglTF+rGeMFCkCXJox/lXyCto4WvhGvh7QxU2Zc2x0GlyMBKhrr2fOsTEBzsdSJEAOuydjno0IcB7eiJDnspPYnynX7ALsxQcR4pgtY0G4HtsqFHW8pG9H+Bpktma+WQSYFQp5Sf8526DiY8lvV61xnsSLOFjANwy1BdgnvI2qw3hhAOeBBL6utKPtSgLE1gE7pc3Nbw149mYCH6HxNoqYAHUOSYqQuiFZy5pFBLFif07kGrSvvzmBbxU/JeZSC7PC3v4F/KH8//W4eNPagW9Lcpxaj7sg7bhNhLMWZoWpqWxTPCFcWG5dtwPKzwDHcGXdhCO8WbBfmJ5SOnkZO4JzM+XaiABwb4Q8hy0JoyUXGhOAsHHJLcCg9UMKGhVgPhKgji3LP+02KkALv0SCpNqzuROMxBiIquqvCsfbubCUkSsJKcPvz4zxOxm56F86t4c5pAiwM8GnCJdk5KJ/xbk8zOHMigFmcNmA5z8IFyPfCf3iYuHMr2iau65i/EHYgUM9vx3NyI9wxRVrZp8I2+jYiJrGfYIovX5rwnVbHRStODu4oiZ3H+b1X44+JxQ5DLuE5e5G3xXF12yPKj+bxKyxD6TmhKvtLp5Wbas7I1ypd9c5ir7+eki94o/irAp5JeEaaQcn23B9wbMpPCJ+A13GOsKbb7z4JrAFr6hedFvoQYc08J+fYIIJ/t/4By9tfiJ9bFVlAAAAAElFTkSuQmCC");
  --iso-settings-select-arrow-icon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAnXwAAJ18BHYa6agAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACgSURBVHic7dcxDoJAFEXRZ+zdlkuyNC7L0sINuQEtzE8sDBEEkeGchHaG+7pJAAAAAAAAWIfNiGftkuxHPK/LOcntR3f1ckhyn/g7/qxmoClH+Pv4MsUIi4kvY46wuPgyxgiLjS/fjLD4+DJkhGbiS58Rmosvn4zQbHzpGqH5+PJuhNXEl9cRZovfznVxkmuej7FLktOM/wEAAAAAAKzEA6yHqvmapYJUAAAAAElFTkSuQmCC");
  --iso-anonymous-stories-btn: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAEU0lEQVR4nO2ay29VRRzHPy0klkei5UIFLG0XwgbiggR5llZQd0ZMVN4EwYVL9Q8o7DWwIYEVARLFIFHjE+xSFwRi6YJHwqtACJRQjECh8rjAYuaE3zmce8/MOTP3knQ+yS/33OT3+31n5sw58zoQCAQCo5gGz/lnAp8BE4BjwE/AzYyYycAKYAHwL7ADuOyxjN6YBdwGngh7ABwCNgMl4VsCPgUOAw8TMTeBtpqV2iHfEq9I0h6iKpxW6aTtqW3RizMJGKF6pWzsHvCKj4I2+kgKrAWaHOYbB3zsMJ93+nB39yM7UtMaFGAu7isf2RuuC+vjEdjkIWfERo+5ndCEGrt99YAh4CWXBXbdAz4Amh3nlJSA9zzmL0wv/u5+ZH/UrDaWtANl/DdAGYczQ5ePwCeO81WiEdhQAx0rGoGL+L/7kV2gNo1tzDvUrvKRLXNRcFet6HPsr8TmOmim4nrhY2ojOBhyXfQA1wsfU5qANXXQfQ4fCx9T66tB/QKBwCjkAPV7sfmyA2kVfaGmk/UgNEC9CxAI1BcXh6OtqN2gKagN0UvafNAGdKAWQUNa54onrao0A1uBk6QPOWeBLcQPQPNSAnqAMxW0TmgtL0dnaWxCndiajL3/UWz7ap3OYaI1hOdzgwZge4rwCHActSPchzrITPp8jf3j9lVKnntao1drpu1DbMuhZcTWhNAA6u5OTPhNANYD5xP+Wyy0ehKx51D7DuNTtDag9gilf4+FlhFvA4+FwA9avBrjge9FzCOg00CrU/vKKew4A62DIqYMvGWgZUQD8I9I3guMNYxtBH4TscfI7p5HhP9hYExOrX4cTfTkju8wMM0yfqqOi3IsqeLbKfzuAC2WWq/quCjH8qwAk9b9EnhTX+9CdWsbhlFzhAX6fxk1jH4OfAGsBLpRvep9YJ722wH8aKl1F/WR1UL9/xYOjtL6edaieZ+rLuIvKRMzeV+kIXvR8Zw5YgyJhLZdMqIF+wbIO4kqiRzXs5xNXmZymBvOWahbif+ngX3AUdRjuBD1mdwMB1q3xfXLOXPEuMyzFu3ImaNd5DhHesM3oeYWkd+MFB8TWkWOzDWJyTAxIK4X5SyUjOtHjfNJ/ie+z59Xa7G4HqjopTFpgEPiep11cZ6P+6uK398OtNaLaycfU8wiPjOzPZVdJmIfUP1F2qJ9Iv+uAlqPgNct4yuyVyS+hnqmTWjX/lHsToOYXcL/KuZfg3QAgyJ2t2GcEa2oIUU2QndGTDfxyg+iTpKzmES8IleBpRkxyxMxg8B0Ay0rlgL3hcgT4FdgNeoxada/q4FfEn53gfkWWvN1jMzxM7AK9Ql+pLUW+D3hd5/8k6hMuohPjEzsOvbPcqQle52J3SC7txSmDdhPfHmcZmXUJ/OvFdBqBb4z0HoMfEOOuUORnZPZwIfAu6gX0GTUVtlF4E/UOv5UgfySOcBHqJVpB2q6e0NoHXSoFQgEAoFAYJTwFHhgrSVd8Ek7AAAAAElFTkSuQmCC');
  --iso-settings-separator-color: rgba(219, 219, 219, 1);
  --iso-stories-modal-height-calc: calc(100vh - 64px);
}

.__VS__C_BTN_POST__VE__,
.__VS__C_BTN_STORY__VE__,
.__VS__C_BTN_PROFILE_PIC__VE__,
.__VS__C_BTN_ANONYMOUS_STORIES__VE__,
.__VS__C_SETTINGS_BTN__VE__,
.__VS__C_SETTINGS_MENU_OPTION_BTN__VE__,
.__VS__C_STORIES_MODAL_LIST_ITEM__VE__ {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.__VS__C_BTN_POST__VE__ {
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: 1;
  margin-left: 6px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: var(--iso-post-btn-icon);
  background-size: 24px 24px;
  background-position: center;
}
.__VS__C_BTN_POST__VE__:hover {
  opacity: 0.6;
}
.__VS__C_PROFILE_BUTTON_CONTAINER__VE__ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -16px;
  right: 0;
  left: 0;
}

.__VS__C_BTN_PROFILE_PIC__VE__,
.__VS__C_BTN_ANONYMOUS_STORIES__VE__ {
  outline: none;
  min-height: 32px;
  min-width: 32px;
  max-height: 32px;
  max-width: 32px;
  border: 0;
  cursor: pointer;
  padding: 0;
  border: 1.5px solid black;
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}
.__VS__C_BTN_PROFILE_PIC__VE__ {
  background-image: var(--iso-post-btn-icon);
}
.__VS__C_BTN_ANONYMOUS_STORIES__VE__ {
  margin-left: 8px;
  background-image: var(--iso-anonymous-stories-btn);
}
.__VS__C_BTN_PROFILE_PIC__VE__:hover:not(:disabled),
.__VS__C_BTN_ANONYMOUS_STORIES__VE__:hover:not(:disabled) {
  background-color: #e8e8e8;
  background-size: 22px 22px;
}
__VS__IG_S_PROFILE_PIC_CONTAINER__VE__:hover .__VS__C_BTN_PROFILE_PIC__VE__,
__VS__IG_S_PRIVATE_PROFILE_PIC_CONTAINER__VE__:hover .__VS__C_BTN_PROFILE_PIC__VE__ {
  opacity: 1;
}

.__VS__C_BTN_STORY__VE__ {
  --size: 40px;
  position: absolute;
  top: 56px;
  right: 16px;
  min-width: var(--size);
  min-height: var(--size);
  max-height: var(--size);
  max-height: var(--size);
  padding: 16px;
  border: none;
  cursor: pointer;
  z-index: 99;
  opacity: 1;
  background-color: transparent;
  background-image: var(--iso-story-btn-icon);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
}
.__VS__C_BTN_STORY__VE__:hover {
  opacity: 0.8;
}

.__VS__C_SETTINGS_BTN__VE__ {
  width: 22px;
  height: 22px;
  cursor: pointer;
  top: 16px;
  border: none;
  right: 16px;
  position: fixed;
  background-color: transparent;
  background-image: var(--iso-settings-btn-icon);
  background-size: 22px 22px;
  opacity: 0.8;
}
@media only screen and (max-width: 1024px) {
  .__VS__C_SETTINGS_BTN__VE__ {
    top: 64px;
  }
}
.__VS__C_SETTINGS_BTN__VE__:hover {
  opacity: 1;
}

.__VS__C_MODAL_BACKDROP__VE__ {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1;
}
.__VS__C_MODAL_WRAPPER__VE__ {
  display: flex;
  width: 320px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 6px;
  z-index: 5;
  box-shadow: -1px 2px 14px 3px rgba(0, 0, 0, 0.5);
}

.__VS__C_STORIES_MODAL__VE__ .__VS__C_MODAL_WRAPPER__VE__ {
  width: auto;
  max-width: calc(100vw - 124px);
}
@media only screen and (max-width: 769px) {
  .__VS__C_STORIES_MODAL__VE__ .__VS__C_MODAL_WRAPPER__VE__ {
    max-width: calc(100vw - 48px);
  }
}

.__VS__C_MODAL_TITLE_CONTAINER__VE__ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  border-bottom: 1px solid var(--iso-settings-separator-color);
}

.__VS__C_MODAL_TITLE__VE__ {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 16px;
  padding: 16px;
  text-align: left;
}

.__VS__C_MODAL_CLOSE_BTN__VE__ {
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  background-color: transparent;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.__VS__C_MODAL_TITLE_LINK__VE__ {
  margin-left: 4px;
  color: #4287f5 !important;
  text-decoration: none;
}

.__VS__C_MODAL_CONTENT_CONTAINER__VE__ {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.__VS__C_SETTINGS_MENU_OPTION__VE__ {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding-left: 16px;
  text-align: left;
}

.__VS__C_SETTINGS_MENU_OPTION_BTN__VE__ {
  display: flex;
  flex-direction: row;
  padding: 12px 16px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding-left: 16px;
  text-align: left;
  cursor: pointer;
}
.__VS__C_SETTINGS_MENU_OPTION_BTN__VE__:hover {
  background-color: rgba(214, 214, 214, 0.3);
}
.__VS__C_SETTINGS_MENU_OPTION_BTN__VE__:active {
  background-color: rgba(214, 214, 214, 0.4);
}
[for="__VS__ID_SETTINGS_BUTTON_BEHAVIOR_SELECT__VE__"],
[for="__VS__ID_SETTINGS_SESSION_ID_INPUT__VE__"] {
  font-size: 12px;
  margin-bottom: 6px;
}

.__VS__C_MODAL_WRAPPER__VE__ input,
.__VS__C_MODAL_WRAPPER__VE__ select {
  height: 32px;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0 6px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#__VS__ID_SETTINGS_BUTTON_BEHAVIOR_SELECT__VE__ {
  background-image: var(--iso-settings-select-arrow-icon);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 50%;
}

#__VS__ID_SETTINGS_DEVELOPER_OPTIONS_CONTAINER__VE__ {
  border-top: 1px solid var(--iso-settings-separator-color);
}

#__VS__ID_SETTINGS_DEVELOPER_OPTIONS_BTN__VE__ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.__VS__C_SETTINGS_MENU_OPTION__VE__.__VS__C_SETTINGS_SECTION_COLLAPSED__VE__ {
  display: none;
}

#__VS__ID_SETTINGS_DEVELOPER_OPTIONS_BTN__VE__.__VS__C_SETTINGS_SECTION_COLLAPSED__VE__
  .__VS__C_SETTINGS_SELECT_ARROW__VE__ {
  transform: rotate(-90deg);
}

.__VS__C_SETTINGS_SELECT_ARROW__VE__ {
  background-color: transparent;
  background-image: var(--iso-settings-select-arrow-icon);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

.__VS__C_STORIES_MODAL_LIST__VE__ {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 20px 0px;
}

.__VS__C_STORIES_MODAL_LIST_ITEM__VE__ {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 16px;
  border-radius: 6px;
  opacity: 1;
  color: rgb(80, 80, 80);
}
.__VS__C_STORIES_MODAL_LIST_ITEM__VE__,
.__VS__C_STORIES_MODAL_LIST_ITEM__VE__:visited,
.__VS__C_STORIES_MODAL_LIST_ITEM__VE__:active{
  text-decoration: none;
}
.__VS__C_STORIES_MODAL_LIST_ITEM__VE__:hover {
  opacity: 0.7;
}
.__VS__C_STORIES_MODAL_LIST_ITEM__VE__:last-child {
  margin-right: 16px;
}
.__VS__C_STORIES_MODAL_LIST_ITEM__VE__ img {
  height: max(256px, calc(100vh / 2));
  object-fit: cover;
  border-radius: 6px;
}
.__VS__C_STORIES_MODAL_LIST_ITEM__VE__ time {
  color: rgb(80, 80, 80);
  margin-top: 8px;
}
